@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
}

<h2>@ViewData["Title"].</h2>
<form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" role="form">
    <h4>Add a phone number.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All"></div>
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
    <button type="submit">Send verification code</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
