<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - uk2016</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/temp.css" />
        <link rel="stylesheet" href="~/lib/pure/css/pure.css" />
        <link rel="stylesheet" href="~/lib/pure/css/grids-responsive.css" />
        <link rel="stylesheet" href="~/lib/pure/css/pure-offsets.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"
              asp-fallback-href="~/lib/pure/css/pure-min.css" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/pure/css/pure-offsets.css" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"
              asp-fallback-href="~/lib/pure/css/grids-responsie-min.css" />
    </environment>
</head>
<body>
    <div>
        @await Html.PartialAsync("Header")
    </div>

        @RenderBody()


    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
